// Colors
$white: #fff;
$darkWinterBlue: #1c337d;  // navigation and footer color
$lightGrey: rgba(255,255,255,.5); // footer links color
$lightwinterBlue: #8de2ff; // sidebar background
$green: rgb(0, 189, 165); // main background
$whiteish: #F7F7F7; // WA County links background

$countyLinksPadding: 20px;